# Python
__pycache__/
*venv/
ENV/
env/
env.bak/
venv.bak/
.env
bin/
lib64/
lib64
include/
pyvenv.cfg$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/
.env
bin/
lib64/**
include/
pyvenv.cfg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
testcase/
Resource/
old_code/
logs/
translated_output_json/

# Allow
!src/
!requirements.txt
!README.md
!.gitignore
!.env.template
